/* ============= PREMIUM EXAM UI ============= */

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #0047ab, #002c6f);
  color: #ffffff;
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}

/* START SCREEN */
.start-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s;
}

.start-box {
  background: rgba(255, 255, 255, 0.18);
  padding: 50px 70px;
  border-radius: 22px;
  backdrop-filter: blur(20px);
  text-align: center;
  border: 2px solid rgba(255,255,255,0.4);
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
  animation: floatUp 1s ease-out;
}

.flag {
  width: 120px;
  margin-bottom: 20px;
}

.start-box h1 {
  font-size: 2.2rem;
  color: white;
  margin-bottom: 10px;
}

.start-box p {
  color: #cfe3ff;
  margin-bottom: 25px;
}

.start-btn {
  background: white;
  color: #0047ab;
  padding: 13px 40px;
  font-size: 1.2rem;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  animation: pulse 2s infinite;
  font-weight: bold;
}

.start-btn:hover {
  transform: scale(1.05);
}

/* QUIZ PAGE */
.quiz-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 30px;
  background: white;
  color: black;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #eef4ff;
  border-radius: 12px;
  margin-bottom: 20px;
}

#timer {
  padding: 8px 15px;
  background: red;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  animation: pulseTimer 1s infinite;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 1px solid #bcd0ff;
  background: #f6f8ff;
}

.question {
  background: #f0f4ff;
  border-left: 6px solid #0047ab;
  padding: 20px;
  margin-bottom: 18px;
  border-radius: 14px;
  animation: slideUp 0.5s;
}

label {
  display: block;
  padding: 10px;
  margin: 5px 0;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #cbdcff;
  cursor: pointer;
}

label:hover {
  background: #e9efff;
}

button {
  width: 100%;
  background: #0047ab;
  color: white;
  padding: 15px;
  border: none;
  font-size: 1.2rem;
  border-radius: 12px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background: #00357d;
}

/* RESULT BOX */
#resultBox {
  background: #eef5ff;
  padding: 20px;
  border-radius: 15px;
  border-left: 6px solid #0047ab;
  margin-top: 20px;
  display: none;
}

/* ANIMATIONS */
@keyframes floatUp {
  from {opacity: 0; transform: translateY(40px);}
  to {opacity: 1; transform: translateY(0);}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slideUp {
  from {opacity: 0; transform: translateY(25px);}
  to {opacity: 1; transform: translateY(0);}
}

@keyframes pulseTimer {
  0% {transform: scale(1);}
  50% {transform: scale(1.08);}
  100% {transform: scale(1);}
}
